    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 20px;
      font-size: 32px; /* Taille de police doublée */
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 16px;
      font-size: 32px; /* Taille de police doublée */
    }

    select, input {
      width: 100%;
      padding: 20px; /* Doublé la taille de la case */
      margin-bottom: 32px; /* Doublé l'espacement en bas de la case */
      font-size: 32px; /* Taille de police doublée */
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 20px 30px; /* Doublé la taille du bouton */
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }
