
body {
  font-family: Arial, sans-serif;
  background-color: #000; /* Noir */
  margin: 20px;
  font-size: 15px;
  color: #ff8c00; /* Orange */
}

h1 {
  text-decoration: underline;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #111; /* Noir légèrement plus foncé */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 140, 0, 0.5); /* Ombre orange */
}

label {
  display: block;
  margin-bottom: 16px;
  font-size: 23px;
  color: #ff8c00;
}

select, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 32px;
  font-size: 16px;
  border: 1px solid #666; /* Bordure noire */
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 5px;
  background-color: #222; /* Fond noir */
  color: #fff; /* Texte blanc */
}

button {
  background-color: #ff8c00;
  color: #000;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #cc7000; /* Légèrement plus sombre au survol */
}

#reminderBanner {
            display: none;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            text-align: center;
            z-index: 1000;
        }
